* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #333;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(300deg, #030303, #3c3aaa ,#0f014d);
  padding: 20px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.hero-text {
  color: #fff;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text .highlight {
  color: #ff4081;
}

.cta {
  background-color: #ff4081;
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.cta:hover {
  background-color: #ff1a75;
}

.hero-image img {
  width: 400px;
  height: auto;
  border-radius: 15px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
}


.projects {
  background-color: #f4f4f4;
  padding: 60px 20px;
  text-align: center;
}

.projects h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact {
  padding: 60px 20px;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact p {
  font-size: 18px;
  margin-bottom: 30px;
}


@media (max-width: 768px) {
  .hero-content {
      flex-direction: column;
  }

  .hero-image img {
      width: 80%;
      margin-top: 20px;
  }

  .project-grid {
      grid-template-columns: 1fr;
  }
}
